@using SalesInventoryV1.Models

@* VERSION 1: Full page reload for search/filter *@

@model IEnumerable<Product>

@{
      ViewData [ "Title" ] = "Product List";
}

<div class="container mt-4">

      <h2>Products Management</h2>
      <hr/>

      <div class="card mb-4">
            <div class="card-body">
                  <form method="get" asp-action="Index">
                        <div class="row">
                              <div class="col-md-5">
                                    <input type="text" name="SearchTerm"
                                          class="form-control"
                                          placeholder="Search products..."
                                          value="@Context.Request.Query["searchTerm"]"
                                       />
                              </div>
                              <div class="col-md-4">
                                    @* <select name="categoryId" class="form-control">
                                          <option value="" >All Categories</option>
                                          @foreach(var cat in ViewBag.Categoreis)
                                          {
                                                <option value="@cat.CategoryId"
                                                      selected="@(Context.Request.Query["categoryId"] == cat.CategoryId.ToString())">
                                                      @cat.CategoryName
                                                </option>
                                          }
                                    </select> *@
                              </div>
                              <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block">
                                          Search
                                    </button>
                              </div>
                        </div>
                  </form>
            </div>
      </div>

      <div>
            <a asp-action="" class="btn btn-success">Add New Product</a>
            
      </div>

      @if (Model.Any())
      {
            <table class="table table-striped table-hover">
                  <thead class="thead-dark">
                        <tr>
                              <th>Product Name</th>
                              <th>Category</th>
                              <th>Unit Price</th>
                              <th>Stock Quantity</th>
                              <th>Status</th>
                              <th>Actions</th>
                        </tr>
                  </thead>
                  <tbody>
                        @foreach ( var product in Model)
                        {
                              <tr>
                                    <td>@product.ProductName</td>
                                    <td>@product.Category.CategoryName</td>
                                    <td>$@product.UnitPrice.ToString("N2")</td>
                                    <td>
                                          @if(product.StockQuantity <= product.ReorderLevel)
                                          {
                                                <span class="badge bg-danger w-25">@product.StockQuantity</span>
                                          }
                                          else
                                          {
                                                <span class="badge bg-secondary w-25">@product.StockQuantity</span>
                                          }
                                    </td>
                                    <td>
                                          @if (product.IsActive)
                                          {
                                                <span class="badge bg-success">Active</span>
                                          }
                                          else
                                          {
                                                <span class="badge bg-secondary">InActive</span>
                                          }
                                    </td>
                                    <td>
                                          <a asp-action="Details" class="btn btn-sm btn-info">Details</a>
                                          <a class="btn btn-sm btn-primary">Edit</a>
                                          <a class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                              </tr>
                        }
                  </tbody>
            </table>
      }
      else
      {
            <div class="alert alert-info">
                  No product found. <a asp-action="Create">Add your first product</a>
            </div>
      }

</div>